/*
//
// Designkit-Colors
// --------------------------------------------------
*/
a {
  text-decoration: none;
  transition: color .15s ease-in;
  color: #0A83F6;
}

a a:link,
a a:visited {
  transition: color .15s ease-in;
}

a a:hover {
  transition: color .15s ease-in;
  color: #0769c6;
}

a a:active {
  transition: color .15s ease-in;
}

a a:focus {
  transition: color .15s ease-in;
}
